* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 80vw;
  max-width: 700px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

form {
  display: flex;
  height: 40px;
  width: calc(300px + 2vw);
  border-radius: 10px;
  box-shadow: 1px 1px 5px salmon;
}
input {
  padding-left: 10px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  flex: 1;
  font-size: 1rem;
  outline: none;
  border: none;
}
.button {
  padding-inline: 10px;
  background: lightgreen;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 100px;
  cursor: pointer;
  font-size: 1rem;
}
.results-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-block: 10px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 2px salmon;
}
.image {
  height: 100px;
}

.link {
  font-size: 18px;
  font-weight: 500;
}